### Author- <span style="color: purple;"> Vishal Bhosale</span>
Contact No- <span style="color: orange;">9175916216</span>
Date: <span style="color: teal;">03-Aug-2024</span>

#### 1. Write a  Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd

array = [1,2,3,4,5]
s = pd.Series(array)
display(s)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 2. Write a Pandas program to convert a Panda module Series to  Python list and it's type.

In [4]:
s.to_list() # Convert to a list

[1, 2, 3, 4, 5]

In [6]:
type(s.to_list()) # Type

list

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [7]:
sample_series_1 = [2, 4, 6, 8, 10]
sample_series_2 = [1, 3, 5, 7, 9]

s1 = pd.Series(sample_series_1)
s2 = pd.Series(sample_series_2)
display(s1, s2)

0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [10]:
# Add
s1 + s2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [11]:
# Subtract
s1 - s2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [12]:
# Multiple
s1 * s2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [13]:
# Divide
s1 / s2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#### 4. Write a  Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [14]:
sample_series_1 = [2, 4, 6, 8, 10]
sample_series_2 = [1, 3, 5, 7, 10]

s1 = pd.Series(sample_series_1)
s2 = pd.Series(sample_series_2)
display(s1, s2)

0     2
1     4
2     6
3     8
4    10
dtype: int64

0     1
1     3
2     5
3     7
4    10
dtype: int64

In [19]:
s1==s2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [20]:
# To get the element
s1[s1==s2]

4    10
dtype: int64

#### 5. Write a Pandas program to convert a dictionary to a Pandas series.

Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [21]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s = pd.Series(d)
s

a    100
b    200
c    300
d    400
e    800
dtype: int64

#### 6. Write a  Pandas program to convert a  NumPy array to a Pandas series.

Sample Series: 
  NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [25]:
import numpy as np

array = np.array([10, 20, 30, 40, 50])
s = pd.Series(array)
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

#### 7. Write a Pandas program to change the data type of given a column or a Series.

Sample Series: 
    Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [26]:
l = [100, 200, 'python', 300.12, 400]
s = pd.Series(l)
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [35]:
# s.astype('float')
pd.to_numeric(s, errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

#### 8. Write a  Pandas program to convert the first column of a DataFrame as a Series.

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [36]:
# Create the DataFrame
data = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}

df = pd.DataFrame(data)

df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [48]:
type(df['col1'])

pandas.core.series.Series

In [49]:
df['col1']

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

#### 9. Write a Pandas program to convert a given Series to an array.

Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [50]:
l = [100, 200, 'python', 300.12, 400]
s = pd.Series(l)
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [53]:
s.to_numpy()

array([100, 200, 'python', 300.12, 400], dtype=object)

In [54]:
type(s.to_numpy())

numpy.ndarray

In [56]:
s.values

array([100, 200, 'python', 300.12, 400], dtype=object)

#### 10. Write a Pandas program to convert Series of lists to one Series.

Sample Output: 
Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [58]:
l = [['Red', 'Green', 'White'], 
     ['Red', 'Black'], 
     ['Yellow']]
s = pd.Series(l)
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [63]:
pd.Series(s[0] + s[1] + s[2])

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [67]:
s.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

#### 11. Write a  Pandas program to sort a given Series.

In [84]:
l = [100, 200, 'python', 300.12, 400]
s = pd.Series(l)
s.sort_values

<bound method Series.sort_values of 0       100
1       200
2    python
3    300.12
4       400
dtype: object>

In [91]:
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

#### 12. Write a Pandas program to add some data to an existing Series.

In [116]:
s[5] = 500
s[6] = 'php'
s

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [117]:
pd.concat([s, pd.Series([500, "php"])], ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
7       500
8       php
dtype: object

#### 13. Write a  Pandas program to create a subset of a given series based on value and condition.

In [120]:
l = range(11)
s = pd.Series(l)
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [121]:
s[s<6]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

#### 14. Write a Pandas program to change the order of index of a given series.

In [132]:
l = [1, 2, 3, 4, 7, 11]
s = pd.Series(l, index=[chr(i) for i in range(65, 71)])
s

A     1
B     2
C     3
D     4
E     7
F    11
dtype: int64

In [135]:
s.reindex(['B', 'A', 'C', 'D', 'F', 'E'])

B     2
A     1
C     3
D     4
F    11
E     7
dtype: int64

#### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [136]:
# Mean
s.mean()

4.666666666666667

In [137]:
# Std Dev
s.std()

3.723797345005051

#### 16. Write a  Pandas program to get the items of a given series not present in another given series.

Sample Output:  
Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

In [139]:
# Create the first Series
sr1 = pd.Series([1, 2, 3, 4, 5])

# Create the second Series
sr2 = pd.Series([2, 4, 6, 8, 10])

display(sr1, sr2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [141]:
sr1[~sr1.isin(sr2)]

0    1
2    3
4    5
dtype: int64

#### 17. Write a  Pandas program to get the items which are not common of two given series.

In [153]:
cond_1 = (~sr1.isin(sr2))
cond_2 = (~sr2.isin(sr1))

pd.concat([sr1[cond_1], sr2[cond_2]])

0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

In [155]:
pd.Series(np.union1d(sr1, sr2))

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

#### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

Sample Output:
Original Series:
0      3.000938
1     11.370722
2     14.612143

....

17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [1]:
import numpy as np
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [5]:
l = np.random.randint(1,20, 20)
s = pd.Series(l)
s.describe()

count    20.000000
mean      8.750000
std       5.533391
min       1.000000
25%       4.000000
50%       9.500000
75%      12.250000
max      18.000000
dtype: float64

In [14]:
s.aggregate(['min','mean', 'median', 'max'])

min        1.00
mean       8.75
median     9.50
max       18.00
dtype: float64

#### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [16]:
s.value_counts()

12    3
1     3
6     2
4     2
18    2
15    1
3     1
14    1
9     1
11    1
13    1
10    1
5     1
Name: count, dtype: int64

#### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

Sample Output:
Original Series:
0     3
1     1
2     1
3     3
...
12    2
13    3
14    3
dtype: int64
Top 2 Freq: 
2    6
3    5
1    4
dtype: int64
0     Other
1     Other
2     Other
3     Other
...
11        2
12        2
13    Other
14    Other
dtype: object

In [25]:
most_frequent_no = s.value_counts().to_dict()
most_frequent_no = [k for k,v in most_frequent_no.items() if v>1]
s.apply(lambda x: 'other' if x not in most_frequent_no else x)

0     other
1     other
2     other
3        12
4     other
5         6
6     other
7         4
8        12
9         1
10    other
11       18
12        4
13        1
14        1
15    other
16        6
17       18
18       12
19    other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

Sample Output:
Original Series:
0 1
1 9
2 8
3 6
4 9
5 7
6 1
7 1
8 1
dtype: int64
Positions of numbers that are multiples of 5:
[]

In [31]:
s[s%5==0].index.to_list()

[0, 15, 19]

#### 22. Write a Pandas program to extract items at given positions of a given series.

Sample Output:  
Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
...

19    0
20    2 
21    3
dtype: object

Extract items at given positions of the said series: 
0     2
2     9
6     8
11    0
21    3
dtype: object

In [45]:
s[s.index.isin([0,2,6,11,21])]

0     15
2     14
6     11
11    18
dtype: int64

#### 23. Write a Pandas program to get the positions of items of a given series in another given series.

Sample Output:  
Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

In [50]:
indexes = s[s.isin([1,3,5,7,10])].index.to_list()
indexes

[1, 9, 13, 14, 15, 19]

In [52]:
s[s.index.isin(indexes)]

1      3
9      1
13     1
14     1
15    10
19     5
dtype: int64

#### 24. Write a  Pandas program convert the first and last character of each word to upper case in each word of a given series.

Sample Output:
Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [53]:
l = ['php', 'python', 'java', 'c#']
s = pd.Series(l)
s

0       php
1    python
2      java
3        c#
dtype: object

In [58]:
s.apply(lambda x: x[0].upper() + x[1:len(x)-1] + x[-1].upper())

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

#### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

Sample Output: 
Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

In [60]:
s.apply(lambda x: len(x))

0    3
1    6
2    4
3    2
dtype: int64

#### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

Sample Output:
Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [61]:
l = [1, 3, 5, 8, 10, 11, 15]
s = pd.Series(l)
s

0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

In [63]:
s.diff(1).to_list()

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]

In [64]:
s.diff(1).diff(1).to_list()

[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

#### 27. Write a Pandas program to convert a series of date strings to a timeseries.

Sample Output:
Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [18]:
l =[ '01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12', '2019-04-06T11:20']
s = pd.Series(l)
s

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

In [19]:
s.apply(lambda x: pd.to_datetime(x))

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

#### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

Sample Output: 
Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [20]:
from dateutil.parser import parse

In [21]:
s = s.apply(lambda x: parse(x))
s

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [22]:
s.dt.day.to_list() # Day of month

[1, 2, 7, 6, 12, 6]

In [23]:
# Day of year:
s.dt.day_of_year.to_list()

[1, 276, 66, 126, 103, 96]

In [47]:
# Week number
s.dt.strftime('%A')

0     Thursday
1       Sunday
2    Wednesday
3      Tuesday
4      Tuesday
5     Saturday
dtype: object

#### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

Sample Output:
Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [48]:
l = [  'Jan 2015',
    'Feb 2016',
    'Mar 2017',
    'Apr 2018',
    'May 2019']
s = pd.Series(l)
s

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

In [49]:
s = s.apply(lambda x: pd.to_datetime(x))
s

0   2015-01-01
1   2016-02-01
2   2017-03-01
3   2018-04-01
4   2019-05-01
dtype: datetime64[ns]

In [ ]:
def get_date(x):
    return '11'

In [57]:
s = s.dt.strftime('%Y-%m-11')
s

0    2015-01-11
1    2016-02-11
2    2017-03-11
3    2018-04-11
4    2019-05-11
dtype: object

#### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

Sample Output: 
Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [59]:
vowels = 'aeiouAEIOU'
vowels = list(vowels)
vowels

['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

In [ ]:
l = [   'Red',
        'Green',
        'Orange',
        'Pink',
        'Yellow',
        'White'
    ]
s = pd.Series(l)
s

#### 31. Write a Pandas program to compute the Euclidean distance between two given series.

Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.

Sample Output:
Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

In [2]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [7]:
l1 = list(range(1,11))
l2 = [11, 8, 7, 5, 6, 5,3,4,7,1]
s1 = pd.Series(l1)
s2 = pd.Series(l2)
np.linalg.norm(s1-s2)

16.492422502470642

#### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

Sample Output: 
Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

In [4]:
l = [1,8,7,5,6,5,3,4,7,1]
s = pd.Series(l)
s

0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

In [10]:
for i in range(len(l)-2):
    window = l[i:i+3]
    if all([window[0]<window[1]>window[2]]):
        print(f'INDEX= {i+1} & VALUE= {s[i+1]}')

INDEX= 1 & VALUE= 8
INDEX= 4 & VALUE= 6
INDEX= 8 & VALUE= 7

#### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

Sample Output:
Original series:
abc def abcdef icd
c    3
d    3
     3
b    2
e    2
a    2
f    2
i    1
dtype: int64
abcidefiabcdefiicd

In [17]:
s = 'abc def abcdef icd'
d = {k:s.count(k) for k in list(s)}
s1 = pd.Series(data=d.values(), index=d.keys())
s1

a    2
b    2
c    3
     3
d    3
e    2
f    2
i    1
dtype: int64

#### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.

From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.

Sample Output:
Original series:
0     13.207262
1      4.098685
2     -1.435534
3     13.626760
...
13    -2.346193
14    17.873884
dtype: float64

Autocorrelations of the said series:
[-0.38, 0.1, -0.43, 0.03, 0.35, -0.2, 0.04, -0.59, 0.34, 0.11]

In [2]:
import numpy as np
import pandas as pd
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))

In [3]:
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
autocorrelations

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

[1.0, 0.24, 0.36, 0.18, 0.19, 0.18, 0.13, 0.38, 0.44, 0.08, 0.58]

#### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

Sample Output: 
All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
.....
48   2020-12-06 
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [21]:
import datetime

In [27]:
year= '2020-01-01'
result = pd.Series(pd.date_range(year, periods=52, freq='W-SUN',tz='Asia/Kolkata'))
result

0    2020-01-05 00:00:00+05:30
1    2020-01-12 00:00:00+05:30
2    2020-01-19 00:00:00+05:30
3    2020-01-26 00:00:00+05:30
4    2020-02-02 00:00:00+05:30
5    2020-02-09 00:00:00+05:30
6    2020-02-16 00:00:00+05:30
7    2020-02-23 00:00:00+05:30
8    2020-03-01 00:00:00+05:30
9    2020-03-08 00:00:00+05:30
10   2020-03-15 00:00:00+05:30
11   2020-03-22 00:00:00+05:30
12   2020-03-29 00:00:00+05:30
13   2020-04-05 00:00:00+05:30
14   2020-04-12 00:00:00+05:30
15   2020-04-19 00:00:00+05:30
16   2020-04-26 00:00:00+05:30
17   2020-05-03 00:00:00+05:30
18   2020-05-10 00:00:00+05:30
19   2020-05-17 00:00:00+05:30
20   2020-05-24 00:00:00+05:30
21   2020-05-31 00:00:00+05:30
22   2020-06-07 00:00:00+05:30
23   2020-06-14 00:00:00+05:30
24   2020-06-21 00:00:00+05:30
25   2020-06-28 00:00:00+05:30
26   2020-07-05 00:00:00+05:30
27   2020-07-12 00:00:00+05:30
28   2020-07-19 00:00:00+05:30
29   2020-07-26 00:00:00+05:30
30   2020-08-02 00:00:00+05:30
31   2020-08-09 00:00:00+05:30
32   2020-08-16 00:00:00+05:30
33   2020-08-23 00:00:00+05:30
34   2020-08-30 00:00:00+05:30
35   2020-09-06 00:00:00+05:30
36   2020-09-13 00:00:00+05:30
37   2020-09-20 00:00:00+05:30
38   2020-09-27 00:00:00+05:30
39   2020-10-04 00:00:00+05:30
40   2020-10-11 00:00:00+05:30
41   2020-10-18 00:00:00+05:30
42   2020-10-25 00:00:00+05:30
43   2020-11-01 00:00:00+05:30
44   2020-11-08 00:00:00+05:30
45   2020-11-15 00:00:00+05:30
46   2020-11-22 00:00:00+05:30
47   2020-11-29 00:00:00+05:30
48   2020-12-06 00:00:00+05:30
49   2020-12-13 00:00:00+05:30
50   2020-12-20 00:00:00+05:30
51   2020-12-27 00:00:00+05:30
dtype: datetime64[ns, Asia/Kolkata]

#### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

# Sample Output:
  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

In [30]:
l = list(range(0,5))
i = list('ABCDE')
s = pd.Series(data=l, index=i)
s.to_frame().reset_index()

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

#### 37. Write a Pandas program to stack two given series vertically and horizontally.

Sample Output:
Original Series:
0    0
1    1
2    2
....
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
....
7    w
8    x
9    y
dtype: object

Stack two given series vertically and horizontally:
   0  1
0  0  p
1  1  q
2  2  r
.....
8  8  x
9  9  y

In [31]:
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))

In [32]:
display(series1, series2)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

In [38]:
pd.concat([series1,series2],axis=1)

   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

#### 38. Write a Pandas program to check the equality of two given series.

Sample Output: 
Original Series:
0    1
1    8
2    7
...
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
.....
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
....
7    True
8    True
9    True
dtype: bool

In [39]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums1==nums2

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

#### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

Sample Output:
Original Series:
0     1
1     3
2     7
.....
7     1
8     9
9     0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4

In [40]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
nums.idxmin()

9

In [41]:
nums.idxmax()

4

#### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

Sample Output: 
Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True

In [42]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None])

In [46]:
df_data.ne(sr_data, axis = 0)

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True